@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600italic,900);

body{
	font: 400 18px/1.33 'Raleway', sans-serif;
	color:  #303030;
	background: #EEEEEE;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {


}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
	margin-bottom: 100px;
}

.ba-header{
	margin-top: 48px;
	margin-bottom: -40px;
}


.ba-logo {

	font-size: 30px;
	font-weight: 900;
	margin-left: 15px;
	margin-top: 15px;

}

.ba-logo__title:hover {
	color:#D5261D;
}


.ba-menu {
	margin-top: 60px;
	padding-right: 50px;
	list-style: none;
}

.ba-menu li {
	float:left;

}

.ba-menu a {
	display: block;
	font: 400 18px/1.5 'Roboto', sans-serif;
	text-decoration: none;
	display: block;
	padding: 10px;
	color: #303030;
	border-radius: 50px;
}

.ba-menu a:hover {
	color: #D5261D;;
}

.ba-intro {
	padding: 44px 0 30px;
}


.ba-bw__text {
	width: 615px;
	max-width: 100%;
	text-align: right;
}

.ba-grid {
	margin:0 auto;
}

.ba-grid:nth-child(2) {
	margin-left:100px;
}

.ba-bw__title {
	margin: 0;
	font-family: 'Raleway';
	font-size: 150px;
	line-height: 1;
	text-transform: uppercase;
	word-wrap: break-word;
}

.ba-bw__text {
	font-size: 24px;
	line-height:1.5;
	font-weight: 300;
}

.ba-bw__button {
	text-decoration: none;
	color: #E85E68;
	font-size: 24px;
	font-weight: 700;
	line-height:1.5;
	border-radius: 3%;
}

.ba-bw__button:hover {
	background-color: #E85E68;
	color: #EEEEEE;
}


.ba-bw__image {
	margin-left: 104px;
}



.ba-featured {
	padding: 100px 72px;
	border-radius: 5px;
	background-color: #FFFFFF;
}

.ba-featured__layout {

}

.ba-featured__title {
	font-family: 'Raleway',sans-serif;
	font-size: 48px;
	font-weight: 900;
	background:url(../img/underline.jpg) no-repeat 50% 100%;
	padding-bottom: 18px;
	margin-bottom: 5px;
	margin-left:50px;
}



.ba-hover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #DF0011;
	transform: translateX(-101%);
	opacity: 1;
	transition: all 0.6s ease-in-out;
	border-radius: 5px;
}

.ba-featured__img {
	position: relative;
	display: block;
	overflow: hidden;
}

.ba-featured__img img {
	display: block;
}

.ba-featured__img:hover .ba-hover {
	transform: translateX(0);
}
.ba-featured__img h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 900;
	text-align: left;
	color: #FFF;
	margin: 0;
	bottom: 42px;
	left: 40px;
	position: absolute;
	padding-bottom: 20px;
	padding-right: 20px;
}


.ba-featured__img h3:after {
	content: "";
	width: 90px;
	height: 5px;
	left: 0;
	bottom: 0;
	background-color: #FFF;
	position: absolute;
}

.ba-submit {

	padding-bottom: 42px;
	border-radius: 5px;
}

.ba-submit__title {
	font-family: 'Raleway',sans-serif;
	font-size: 48px;
	font-weight: 900;
	margin-bottom: 0;
	text-align: center;
	text-transform: uppercase;
	margin-top: -10px;
	margin-left: 55px;
}

.ba-featured__text {
	max-width: 551px;
	margin: 0 auto;
	font: 400 18px/1.5 'Raleway', sans-serif;
	padding-bottom: 78px;
}

.ba-submit__text {
	max-width: 551px;
	margin: 0 auto;
	font: 400 18px/1.5 'Raleway', sans-serif;
	padding-bottom: 78px;

}

.ba-subscribe {
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 110px;
	margin-top: -40px;

	position: relative;
}

.ba-textfield {
	width: 70%;
	padding: 20px 20px 20px 55px;
	border-radius: 35px 0 0 35px;
	text-decoration: none;
	border: none;
	height: 70px;
}



.ba-textfield:hover {
	text-transform: uppercase;
	font-weight:800;
}

.ba-submit__button {
	position: absolute;
	font: 900 18px 'Roboto', sans-serif;
	height: 70px;
	border-radius: 0 35px 35px 0;
	text-transform: uppercase;
	background: #E10011;
	color: #F7C3C7;
	border:none;
	padding: 0 20px;

}

.ba-submit__button:hover {
	box-shadow: 0 2px 2px red;
	border:none;
}

.ba-submit__button:focus,
.ba-textfield {
	outline: none;
}


.ba-link {
	font: 14px/1.5 sans-serif;
	text-align: center;
}

.ba-link__contacts {
	display: inline-block;
	margin-left: 50px;
	margin-top: -30px;

}


.ba-link__contacts a {
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 50%;
	margin-left: 20px;
	background-color: #FFF;

}


.ba-link__contacts a:hover {
	box-shadow: 1px 1px 1px 1px red;
}


.ba-link__f {
	background: url(../img/facebook.png) no-repeat 50% 50%;
}
.ba-link__t {
	background: url(../img/twitter.png) no-repeat 50% 50%;
}

.ba-link__y {
	background: url(../img/youtube.png) no-repeat 50% 50%;
}


.ba-footer {
	margin-top: 65px;
	text-align: center;
}

.ba-footer__text {
	color: #A3A3A3;
}

.ba-footer__company {
	color: #303030;
}
